body {
        font-family: "Heveltica", "Lucida Grande", sans-serif;
        font-style: normal;   
    } /* altera a fonte do corpo do texto */

    p {
        text-align: center;
        } /*altera o alinhamento do paragrafo 

















